body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
    


/* header block */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0 250px 100px 250px;

}


.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 150px 0;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}


.hero-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

}

.hero-img-item{
    flex: 1 0 0%;
    width: 300px;
}

.hero-block {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero-block button,
.hero-block p,
.hero-block h1 {
    margin: 0 0 6px 0;
}

#hero-main-text {
    font-size: 48px ;
    color: #f9faf8;
    font-weight: bolder;
}

#hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

img {
    width: 300px;
    height: auto;
}

button {
    background-color: #0758da;
    color: white;
    align-items: center;
    border-radius: 8px;
    border: none;
    width: fit-content;
    padding: 10px 20px;
}




/* information block */

.information-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px 0;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.img-box {
    width: 150px;
    height: 150px;
    border: 3px solid blue;
    border-radius: 12px;
}

.p-box {
    text-align: center;
    color: #1f2937;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

.box {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    align-items: center;
}













/* quote block */

.quote-block {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 250px;
}

blockquote {
    text-decoration: none;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin: 0;
}

#author {
    font-weight: bold;
    font-size: 30px;
    align-self: flex-end;
    margin: 0;
}



















.footer {
    background-color: #1f2937;
}